window#osd {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background: rgba(27, 27, 27, 0.9);
}

#container {
  margin: 8px;
}

#container > image {
  -gtk-icon-transform: scale(0.5);
}

image,
label {
  color: rgb(171, 178, 191);
}

progressbar:disabled,
image:disabled {
  opacity: 0.5;
}

progressbar {
  min-height: 6px;
  border-radius: 2px;
  background: transparent;
  border: none;
}

trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: rgb(92, 99, 112);
}

progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: rgb(171, 178, 191);
}
