layout {
    swap_tiled_layout name="vertical" {
        tab max_panes=5 {
            pane split_direction="vertical" {
                pane
                pane { children; }
            }
        }
        tab max_panes=8 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
            }
        }
        tab max_panes=12 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
                pane { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="horizontal" {
        tab max_panes=5 {
            pane
            pane
        }
        tab max_panes=8 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
        tab max_panes=12 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="stacked" {
        tab min_panes=5 {
            pane split_direction="vertical" {
                pane
                pane stacked=true { children; }
            }
        }
    }

    swap_floating_layout name="staggered" {
        floating_panes
    }

    swap_floating_layout name="enlarged" {
        floating_panes max_panes=10 {
            pane { x "5%"; y 1; width "90%"; height "90%"; }
            pane { x "5%"; y 2; width "90%"; height "90%"; }
            pane { x "5%"; y 3; width "90%"; height "90%"; }
            pane { x "5%"; y 4; width "90%"; height "90%"; }
            pane { x "5%"; y 5; width "90%"; height "90%"; }
            pane { x "5%"; y 6; width "90%"; height "90%"; }
            pane { x "5%"; y 7; width "90%"; height "90%"; }
            pane { x "5%"; y 8; width "90%"; height "90%"; }
            pane { x "5%"; y 9; width "90%"; height "90%"; }
            pane focus=true { x 10; y 10; width "90%"; height "90%"; }
        }
    }

    swap_floating_layout name="spread" {
        floating_panes max_panes=1 {
            pane {y "50%"; x "50%"; }
        }
        floating_panes max_panes=2 {
            pane { x "1%"; y "25%"; width "45%"; }
            pane { x "50%"; y "25%"; width "45%"; }
        }
        floating_panes max_panes=3 {
            pane focus=true { y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; }
            pane { x "50%"; y "1%"; width "45%"; }
        }
        floating_panes max_panes=4 {
            pane { x "1%"; y "55%"; width "45%"; height "45%"; }
            pane focus=true { x "50%"; y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; height "45%"; }
            pane { x "50%"; y "1%"; width "45%"; height "45%"; }
        }
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:$HOME/.local/bin/zjstatus.wasm" {
                format_left   "{mode}#[bg=black]"
                format_center "{tabs}"
                format_right  "#[bg=background,fg=yellow]#[bg=yellow,fg=black,bold]{datetime}#[bg=yellow] "
                format_space  "#[fg=background] "

                hide_frame_for_single_pane "false"
                border_enabled  "false"

                mode_normal        "#[bg=blue,fg=black,bold] NOR#[bg=background,fg=blue]"
                mode_locked        "#[bg=green,fg=black,bold] LOCK#[bg=background,fg=green]"
                mode_resize        "#[bg=green,fg=black,bold] RES#[bg=background,fg=green]"
                mode_pane          "#[bg=green,fg=black,bold] PANE#[bg=background,fg=green]"
                mode_tab           "#[bg=green,fg=black,bold] TAB#[bg=background,fg=green]"
                mode_scroll        "#[bg=green,fg=black,bold] {name}#[bg=background,fg=green]"
                mode_enter_search  "#[bg=green,fg=black,bold] {name}#[bg=background,fg=green]"
                mode_search        "#[bg=green,fg=black,bold] {name}#[bg=background,fg=green]"
                mode_rename_tab    "#[bg=green,fg=black,bold] {name}#[bg=background,fg=green]"
                mode_rename_pane   "#[bg=green,fg=black,bold] {name}#[bg=background,fg=green]"
                mode_session       "#[bg=green,fg=black,bold] {name}#[bg=background,fg=green]"
                mode_move          "#[bg=green,fg=black,bold] MOV#[bg=background,fg=green]"
                mode_prompt        "#[bg=green,fg=black,bold] {name}#[bg=background,fg=green]"
                mode_tmux          "#[bg=magenta,fg=black,bold] TMUX#[bg=background,fg=magenta]"

                tab_normal              "#[fg=gray]{name} #[fg=gray]{floating_indicator}"
                tab_normal_fullscreen   "#[fg=gray]{name} #[fg=gray]{fullscreen_indicator}"
                tab_normal_sync         "#[fg=gray]{name} #[fg=gray]{sync_indicator}"

                tab_active              "#[fg=green,bold]{name} #[fg=green,bold]{floating_indicator}"
                tab_active_fullscreen   "#[fg=green,bold]{name} #[fg=green,bold]{fullscreen_indicator}"
                tab_active_sync         "#[fg=green,bold]{name} #[fg=green,bold]{sync_indicator}"

                tab_separator           "#[bg=background,bold] "

                tab_sync_indicator       " "
                tab_fullscreen_indicator " "
                tab_floating_indicator   "󰘕 "

                datetime        "{format}"
                datetime_format "%H:%M"
                datetime_timezone "Asia/Kolkata"
            }
        }
        children
    }
}
